<!DOCTYPE html>
html(lang="en")
  head
    include ./includes/head
    title Main Page
  body
    include ./includes/header
    content
      h1 Main Page
      p#greeting Loading ...
    
    include ./includes/footer
    script(src="./assets/js/bundle.js")
